* {
    box-sizing: border-box;    
}

html, body {
    margin: 0;
    padding: 0; /* margin y padding 0 aquí, hacen que el header llegue hasta los bordes de la pagina*/
}  

body {
    color: #524c84;
    font-family: 'Roboto Black', sans-serif;
    text-align: center;
} 
    
main {
    margin-left: 30px;
    position: relative; /* porque header esta fixed */
    top: 140px;         /* porque o sino lo tapa el header fixed*/
    width: 1250px;      /* solo con poner el width ahora el main hace scroll horizontal. yupiiiii!!!!*/
    height: 585px;      /* al poner esto, si se achica la ventana se puede ver la parte de abajo del main.
    /*bottom: 100px;*/ 
}

header{
    background-color: #92e6e6;
    padding-top: 15px;
    padding-bottom: 1px;
    width: 100%;     /* como header esta fixed, sino no se vería a lo ancho */
    position: fixed; /*no se mueve si se hace scroll */
    z-index: 1;      /* si se hace scroll queda adelante */
}

footer {
    background-image: url("pascua9.png");
    background-repeat: repeat-x;
    position: fixed;
    width: 100%;
    height: 130px; /* si no pongo la altura no se verá */
    bottom: 0;     /* para que se vea al fondo, si no se tapa */
    z-index: 1;    /* si se hace scroll queda adelante */
}

h1 {
    font-family: 'Roboto Black', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
    color: #d65d7a;
}

h2 {
    font-family: 'Righteous', cursive;
    color: #d65d7a;
}

#message {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 320px;
    height: 70px;
    margin: 10px auto;
    color: #d65d7a;
    border: #524c84 solid; 
}

#spaces{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #d65d7a;
    border: #524c84 solid; 
    text-align: center;
}

.box1 {
    width: 650px;
    height: 450px;
    float: left;       /* esto hace que las box 1 y 2 queden lado a lado, pero no entiendo bien como funciona */
    padding: 5px 20px;
}

.box2 {
    width: 400px;
    height: 450px;
    float: left;       /* esto hace que las box 1 y 2 queden lado a lado, pero no entiendo bien como funciona */
    padding: 5px 20px;
    margin-left: 80px;
}

#resultBox {
    width: 320px;
    height: 70px;
    margin: 25px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #d65d7a;
    border: #524c84 solid; 
    text-align: left;
    padding-left: 3px;
    overflow: scroll;      /* para que el contenido no se salga de los margenes */
    background: white;
}

button {
    border: #d65d7a solid; 
    border-radius: 5px;                 /* para que boton tenga las esquinas redondas */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    background: #d65d7a;
    margin: 0px 10px;
}












